<div class="button-container" [ngClass]="{ primary: type === 'primary' }">
  <div matRipple class="button-wrapper">
    @if(type === 'primary'){
    <img
      class="button button-primary"
      src="./../../../../assets/images/button-primary.png"
      alt=""
    />
    } @else{
    <img
      class="button button-secondary"
      src="./../../../../assets/images/button-secondary.png"
      alt=""
    />
    }
    <div class="value-container">
      <span class="value">{{ value | uppercase }}</span>
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </div>
  </div>
  <div>
    <span class="subtitle">{{ subtitle | uppercase }}</span>
  </div>
</div>
