<section class="hero">
  <div class="hero-container">
    <img
      src="./../../../../assets/svg/polygons.svg"
      alt="polygon"
      class="polygons"
    />
    <div class="hero-content">
      <img
        src="./../../../../assets/svg/truekit-logo-color.svg"
        alt="Truekit Logo"
        class="hero-logo"
      />
      <app-button
        value="REGISTRARSE"
        subtitle="Next Generation Trading Ecosystem"
        type="primary"
      ></app-button>
    </div>
  </div>
</section>

<section class="welcome">
  <div class="bg-elements"></div>
  <div class="welcome-title">
    <h1>BIENVENIDO A TRUEKIT</h1>
  </div>
  <div class="welcome-columns">
    <div class="welcome-description">
      <span class="description-title">¿Cómo funciona?</span>
      <img
        class="description-separator"
        src="./../../../../assets/svg/line-separator-start.svg"
        alt="separador"
      />
      <p class="description-text">
        Lorem ipsum dolor sit amet consectetur. Sed proin turpis nibh fermentum
        morbi pharetra sit vitae. Vel habitasse neque tristique malesuada est
        ullamcorper lacus. Vitae erat ultrices vitae consectetur a vestibulum
        integer morbi. At facilisi mi purus proin cursus. Etiam quis quisque leo
        ac elementum. Velit purus vitae ultrices aliquet amet vitae. Mauris
        pellentesque sem sit porttitor id. Risus urna tellus nullam amet sodales
        vitae.
      </p>
      <p style="color: #6bb9eb; font-weight: 900">Mira el video aquí</p>
      <img
        class="description-separator"
        src="./../../../../assets/svg/line-separator-end.svg"
        alt="separador"
      />
    </div>
    <div class="welcome-video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/EBCQykteYCA?si=Jlw86YvJj6t3bXWb"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section class="featured-items">
  <div class="bg-elements"></div>
  <div class="featured-items-title">
    <h1>DESTACADOS</h1>
  </div>

  <div class="items-container">
    @for (item of featuredItems; track $index) {

    <app-item-card
      [images]="item.images"
      [description]="item.description"
      [title]="item.title"
    ></app-item-card>
    }
    <!-- Add more items here -->
  </div>
  <div style="margin: 0px 24px">
    <img
      style="margin: -28px 0px"
      src="./../../../../assets/images/section-seperator.png"
      alt=""
    />
  </div>
</section>

<section class="categories">
  <div class="bg-elements"></div>
  <div class="categories-title">
    <h1>CATEGORIAS</h1>
  </div>
  <div class="categories-container">
    <!-- @for (category of categories; track $index) { -->

    <app-category-card [categories]="categories"></app-category-card>

    <!-- } -->
    <!-- Add more categories here -->
  </div>
</section>

<section class="benefits">
  <div style="margin: -24px -24px">
    <img
      style="margin: 0px 0px"
      src="./../../../../assets/images/section-seperator-2.png"
      alt=""
    />
  </div>
  <div class="bg-elements"></div>
  <div class="benefit-title">
    <h1>BENEFICIOS</h1>
  </div>
  <div class="benefits-container">
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur. Sed proin turpis nibh fermentum
        morbi pharetra sit vitae. Vel habitasse neque tristique malesuada est
        ullamcorper lacus. Vitae erat ultrices vitae consectetur a vestibulum
        integer morbi. At facilisi mi purus proin cursus. Etiam quis quisque leo
        ac elementum. Velit purus vitae ultrices aliquet amet vitae. Mauris
        pellentesque sem sit porttitor id. Risus urna tellus nullam amet sodales
        vitae.
      </p>
    </div>
    <div class="benefits-list">
      @for (benefit of benefits.slice(0,3); track $index) {

      <app-benefit-card
        [image]="benefit.image"
        [title]="benefit.title"
        [description]="benefit.description"
      ></app-benefit-card>
      }
    </div>
  </div>
  <div class="benefits-container">
    <div class="benefits-list">
      @for (benefit of benefits.slice(3, benefits.length); track $index) {

      <app-benefit-card
        [image]="benefit.image"
        [title]="benefit.title"
        [description]="benefit.description"
      ></app-benefit-card>
      }
    </div>
  </div>
</section>
