<section class="hero">
  <div class="hero-container">
    <img
      src="./../../../../assets/svg/polygons.svg"
      alt="polygon"
      class="polygons"
    />
    <div class="hero-content">
      <img
        src="./../../../../assets/svg/truekit-logo-color.svg"
        alt="Truekit Logo"
        class="hero-logo"
      />
      <app-button
        value="REGISTRARSE"
        subtitle="Next Generation Trading Ecosystem"
        type="primary"
      ></app-button>
    </div>
  </div>
</section>

<section class="welcome">
  <div class="welcome-title">
    <h1>BIENVENIDO</h1>
  </div>
  <div class="welcome-columns">
    <div class="welcome-description">
      This section is used to provide a welcome message to the user
    </div>
    <div class="welcome-video">This section is used to display a video.</div>
  </div>
</section>

<section class="featured-items">
  <div class="featured-items-title">
    <h1>DESTACADOS</h1>
  </div>

  <div class="items-container">
    @for (item of featuredItems; track $index) {

    <app-item-card
      [images]="item.images"
      [description]="item.description"
      [title]="item.title"
    ></app-item-card>
    }
    <!-- Add more items here -->
  </div>
</section>

<section class="categories">
  <div class="categories-title">
    <h1>CATEGORIAS</h1>
  </div>
  <div class="categories-container">
    @for (category of categories; track $index) {

    <app-category-card
      [image]="category.image"
      [title]="category.title"
    ></app-category-card>
    }
    <!-- Add more categories here -->
  </div>
</section>

<section class="benefits">
  <div class="benefit-title">
    <h1>BENEFICIOS</h1>
  </div>
  <div class="benefits-container">
    <div class="description">
      <p>
        This section is used to provide a description of the benefits of using
        the platform.
      </p>
    </div>
    <div class="benefits-list">
      @for (benefit of benefits.slice(0,3); track $index) {

      <app-benefit-card
        [image]="benefit.image"
        [title]="benefit.title"
        [description]="benefit.description"
      ></app-benefit-card>
      }
    </div>
  </div>
  <div class="benefits-container">
    <div class="benefits-list">
      @for (benefit of benefits.slice(3, benefits.length); track $index) {

      <app-benefit-card
        [image]="benefit.image"
        [title]="benefit.title"
        [description]="benefit.description"
      ></app-benefit-card>
      }
    </div>
  </div>
</section>
