<div class="container">
  <div class="separator">
    <img src="../../../assets/svg/section-seperator-yellow.svg" alt="" />
  </div>

  <div class="links-container">
    <ul>
      <li>
        <a [routerLink]="['terms']">Políticas de privacidad y uso</a
        ><mat-icon>arrow_right_alt</mat-icon>
      </li>
      <li>
        <a [routerLink]="['item-list']">Figuras</a
        ><mat-icon>arrow_right_alt</mat-icon>
      </li>
      <li>
        <a [routerLink]="['about-us']">Nosotros</a
        ><mat-icon>arrow_right_alt</mat-icon>
      </li>
      <li>
        <a [routerLink]="['auth/my-account']">Mi cuenta</a
        ><mat-icon>arrow_right_alt</mat-icon>
      </li>
    </ul>
  </div>

  <div class="logo-container">
    <img
      class="logo"
      src="../../../assets/svg/logo-footer.svg"
      alt="logo truekit"
    />
    <div class="rrss">
      <a href="">
        <img src="../../../assets/svg/twitter.svg" alt="" />
      </a>
      <a href="">
        <img src="../../../assets/svg/youtube.svg" alt="" />
      </a>
      <a href="">
        <img src="../../../assets/svg/instagram.svg" alt="" />
      </a>
      <a href="">
        <img src="../../../assets/svg/facebook.svg" alt="" />
      </a>
      <a href="">
        <img src="../../../assets/svg/discord.svg" alt="" />
      </a>
    </div>
    <div class="copyright">
      Copyright © 2024 Truekit. Todos los derechos reservados.
    </div>
    <div class="designed">
      Diseñado y desarrollado por
      <a href="https://www.meraki-s.com" target="_blank"> Meraki Solutions</a>
    </div>
  </div>
</div>
