<div class="container">
  <div class="logo" [routerLink]="['/']" matRipple>
    <img src="../../../assets/svg/min-logo.svg" alt="" />
  </div>
  <span class="spacer"></span>
  <div class="menu-container">
    <ul class="snip1226">
      <li routerLinkActive="current">
        <a [routerLink]="['/']" data-hover="INICIO">INICIO</a>
      </li>
      <li routerLinkActive="current">
        <a [routerLink]="['item-list']" data-hover="FIGURAS">FIGURAS</a>
      </li>
      <li routerLinkActive="current">
        <a [routerLink]="['truekit']" data-hover="TRUEKIT">TRUEKIT</a>
      </li>
    </ul>
  </div>
  <span class="spacer"></span>

  <button mat-raised-button color="primary" (click)="login()">
    {{ user ? user.username : " LOGIN " }}
  </button>
  <button
    mat-icon-button
    color="accent"
    *ngIf="user && user.role === 'admin'"
    [routerLink]="['/admin']"
    style="color: white"
  >
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    *ngIf="user"
    (click)="logout()"
    style="color: white"
  >
    <mat-icon>logout</mat-icon>
  </button>
  <div class="account"></div>
</div>
